.currency-select {
  padding-top: 16px;
}
.currency-select__title {
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 16px;
  padding: 0 16px;
  font-weight: normal;
}

.currency-select__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
  outline: 0;
  cursor: pointer;
  &:focus {
    background-color: rgba(var(--light-dark), var(--alpha-soft));
  }
  &:active {
    background-color: rgba(var(--light), var(--alpha-medium));
  }
}

.currency-select__empty {
  padding: 16px;
  opacity: var(--alpha-medium);
}