.base {
  padding: 16px;
}

.base__top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.top__link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  & svg {
    fill: currentColor;
    width: 0.84rem;
    height: 0.84rem;
  }
}
.base__title {
  font-size: 1rem;
  margin: 0;
  font-weight: normal;
}

.base__container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}

.base__currency {
  font-weight: 600;
  font-size: 2rem;
}
.currency__decimal {
  font-weight: 400;
  opacity: var(--alpha-strong);
}