.flags {
  position: relative;
  min-height: 40px;
  display: flex;
  align-items: center;
}

.flags__flag {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50px;
  box-shadow: 2px 0 4px rgba(var(--dark-dark), var(--alpha-medium));
  overflow: hidden;
  opacity: 0;
  transition: opacity 1.6s ease;
}
.flags__flag--show {
  opacity: 1;
}
.flags__flag--missing {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
  background-color: rgba(var(--gray), 1);
  &:after {
    content: "?";
    font-size: 1.2rem;
  }
}
.flags__data {
  margin-left: 64px;
  & > div {
    opacity: var(--alpha-medium);
  }
}