:root {
  --light: 254, 254, 254;
  --light-dark: 238, 238, 238;
  --dark: 33, 33, 33;
  --dark-dark: 21, 21, 21;
  --blue: 0, 122, 255;
  --blue-dark: 10, 122, 255;
  --green: 52, 199, 89;
  --green-dark: 48, 209, 88;
  --indigo: 88, 86, 214;
  --indigo-dark: 94, 92, 230;
  --orange: 255, 149, 0;
  --orange-dark: 255, 159, 10;
  --pink: 255, 45, 85;
  --pink-dark: 255, 55, 95;
  --purple: 175, 82, 222;
  --purple-dark: 191, 90, 242;
  --red: 255, 59, 48;
  --red-dark: 255, 69, 58;
  --teal: 90, 200, 250;
  --teal-dark: 100, 210, 255;
  --yellow: 255, 204, 0;
  --yellow-dark: 255, 214, 10;
  --alpha-soft: 0.24;
  --alpha-medium: 0.48;
  --alpha-strong: 0.8;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.app-background__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease;
  &.app-background__image--loaded {
    opacity: 1;
  }
}

.app-background__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(24px);
}

@media (prefers-color-scheme: dark) {
  .app-background__overlay { 
    background-color: rgba(var(--dark-dark), var(--alpha-strong));
  }
}

@media (prefers-color-scheme: light) {
  .app-background__overlay { 
    background-color: rgba(var(--light-dark), var(--alpha-light));
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgba(var(--dark-dark), 1);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: rgba(var(--light-dark), 1);
  }
}
